<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/eclipse16.png">
         <run
               class="org.eclipsercp.studentinfo.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipsercp.studentinfo.Perspective"
            name="RCP Perspective"
            id="StudentInfo.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipsercp.studentinfo.view.UsersView"
            id="org.eclipsercp.studentinfo.treeviewer"
            name="UsersView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipsercp.studentinfo.editor.ItemEditor"
            icon="icons/text_align_justify.png"
            id="StudentInfo.editor"
            name="Item Editor">
      </editor>
      <editor
            class="org.eclipsercp.studentinfo.editor.GroupEditor"
            id="StudentInfo.groupEditor"
            name="Group Editor">
      </editor>
   </extension>

</plugin>
