<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/eclipse16.png">
         <run
               class="org.eclipsercp.studentinfo.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipsercp.studentinfo.Perspective"
            id="StudentInfo.perspective"
            name="StudentInfo.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipsercp.studentinfo.view.UsersView"
            id="org.eclipsercp.studentinfo.treeviewer"
            name="UsersView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipsercp.studentinfo.editor.ItemEditor"
            icon="icons/file.png"
            id="StudentInfo.editor"
            name="Item Editor">
      </editor>
      <editor
            class="org.eclipsercp.studentinfo.editor.GroupEditor"
            icon="icons/folder-red.png"
            id="StudentInfo.groupEditor"
            name="Group Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="StudentInfo.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="StudentInfo.commands.category"
            id="StudentInfo.commands.optionItemCommand"
            name="OptionItemCommand">
         <state
               class="studentinfo.states.StateOption1"
               id="StudentInfo.commands.optionItem.state">
         </state>
         <commandParameter
               id="StudentInfo.commands.optionItemCommand.parameter"
               name="OptionItemParameter"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="StudentInfo.commands.category"
            id="StudentInfo.commands.commandNew"
            name="AddCommand">
      </command>
      <command
            categoryId="StudentInfo.commands.category"
            id="StudentInfo.commands.removeCommand"
            name="RemoveNodeCommand">
      </command>
      <command
            categoryId="StudentInfo.commands.category"
            id="StudentInfo.commands.optionGroupCommand"
            name="OptionGroupCommand">
         <state
               class="studentinfo.states.StateOption2"
               id="StudentInfo.commands.optionGroup.state">
         </state>
      </command>
      <command
            id="StudentInfo.commands.Redo"
            name="Redo">
      </command>
      <command
            id="StudentInfo.commands.Undo"
            name="Undo">
      </command>
      <command
            id="StudentInfo.commands.help"
            name="Help">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            class="PopupMenu"
            locationURI="popup:org.eclipsercp.studentinfo.treeviewer">
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="toolbar:org.eclipse.ui.main.toolbar"
               label="toolbar">
            <command
                  commandId="StudentInfo.commands.Undo"
                  icon="icons/undo.png"
                  id="x"
                  label="Undo"
                  style="radio"
                  tooltip="Undo">
            </command>
            <command
                  commandId="StudentInfo.commands.Redo"
                  icon="icons/redo.png"
                  id="y"
                  label="Redo"
                  style="push"
                  tooltip="Redo">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="editmenu"
               label="Edit">
            <command
                  commandId="StudentInfo.commands.Undo"
                  icon="icons/undo.png"
                  id="xs"
                  label="Undo"
                  style="push"
                  tooltip="Undo">
            </command>
            <command
                  commandId="StudentInfo.commands.Redo"
                  icon="icons/redo.png"
                  id="ys"
                  label="Redo"
                  style="push"
                  tooltip="Redo">
            </command>
            <command
                  commandId="StudentInfo.commands.removeCommand"
                  icon="icons/cross.png"
                  id="remove"
                  label="Remove"
                  style="push">
            </command>
         </menu>
         <menu
               id="helpmenu"
               label="Help">
            <command
                  commandId="StudentInfo.commands.help"
                  icon="icons/text_align_justify.png"
                  id="q"
                  label="About"
                  style="push"
                  tooltip="Help">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="studentinfo.handlers.OptionItemHandler"
            commandId="StudentInfo.commands.optionItemCommand">
      </handler>
      <handler
            class="studentinfo.handlers.NewNodeHandler"
            commandId="StudentInfo.commands.commandNew">
      </handler>
      <handler
            class="studentinfo.handlers.RemoveNodeHandler"
            commandId="StudentInfo.commands.removeCommand">
      </handler>
      <handler
            class="studentinfo.handlers.OptionGroupHandler"
            commandId="StudentInfo.commands.optionGroupCommand">
      </handler>
      <handler
            class="org.eclipsercp.studentinfo.undoredo.RedoHandler"
            commandId="StudentInfo.commands.Redo">
      </handler>
      <handler
            class="org.eclipsercp.studentinfo.undoredo.UndoHandler"
            commandId="StudentInfo.commands.Undo">
      </handler>
      <handler
            class="studentinfo.handlers.HelpHandler"
            commandId="StudentInfo.commands.help">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="StudentInfo.commands.commandNew"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ctrl+1">
      </key>
      <key
            commandId="StudentInfo.commands.removeCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ctrl+2">
      </key>
      <key
            commandId="StudentInfo.commands.optionGroupCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ctrl+4">
      </key>
      <key
            commandId="StudentInfo.commands.optionItemCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ctrl+3">
      </key>
      <key
            commandId="StudentInfo.commands.Undo"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+Z">
      </key>
      <key
            commandId="StudentInfo.commands.Redo"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+Y">
      </key>
   </extension>

</plugin>
